In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
referraldf = pd.read_csv('../data/teis_referral.csv')   
monthlydf = pd.read_csv('../data/teis_monthly.csv')

In [3]:
combo=pd.merge(monthlydf, referraldf,  how = 'left')
combo

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category,County SES,Notification Date
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,1,NaN,NaN,8/9/2017,NaN,1,Qtr 1,#REF!,NaN,NaN
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,1,NaN,NaN,7/31/2016,1.0,1,Qtr 1,#REF!,At-Risk,7/1/2016
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,1,NaN,NaN,2/5/2019,NaN,1,Qtr 1,#REF!,NaN,NaN
3,FT,404157,12/6/2015,Sullivan,Transitional,IFSP,A,Candice Cradic,7/1/2016,7/22/16,...,1,NaN,NaN,12/6/2018,NaN,1,Qtr 1,#REF!,NaN,NaN
4,FT,404154,4/18/2015,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,7/1/2016,7/18/16,...,1,NaN,NaN,4/18/2018,NaN,1,Qtr 1,#REF!,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113251,UC,528759,4/7/2021,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,5/16/2022,5/26/2022,...,1,NaN,NaN,4/7/2024,NaN,4,Qtr 4,#REF!,NaN,NaN
113252,UC,528534,3/13/2022,Sumner,Competitive,IFSP,A,Robyn Hogan,5/11/2022,5/23/2022,...,1,NaN,NaN,3/13/2025,NaN,4,Qtr 4,#REF!,Competitive,5/11/2022
113253,UC,528430,1/5/2022,Cumberland,Transitional,Eligibility,A,Lisa Davis,5/10/2022,5/18/2022,...,1,NaN,NaN,1/5/2025,NaN,4,Qtr 4,#REF!,NaN,NaN
113254,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,...,1,NaN,NaN,9/12/2023,NaN,4,Qtr 4,#REF!,Competitive,5/6/2022
113255,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,...,1,NaN,NaN,2/8/2025,NaN,4,Qtr 4,#REF!,Transitional,5/11/2022

In [4]:
slicerdf = combo[['Child ID', 'POE', 'Notification/ Referral Date']] 
slicerdf

        Child ID POE Notification/ Referral Date
0         403339  ET                    7/1/2016
1         404085  FT                    7/1/2016
2         403623  FT                    7/1/2016
3         404157  FT                    7/1/2016
4         404154  FT                    7/1/2016
...          ...  ..                         ...
113251    528759  UC                   5/16/2022
113252    528534  UC                   5/11/2022
113253    528430  UC                   5/10/2022
113254    528253  UC                    5/6/2022
113255    528535  UC                   5/11/2022

[113256 rows x 3 columns]

In [5]:
dups_df = slicerdf.loc[slicerdf.duplicated(subset='Child ID', keep=False)]
dups_df

        Child ID POE Notification/ Referral Date
2         403623  FT                    7/1/2016
6         404087  GN                    7/1/2016
7         402274  GN                    7/1/2016
11        404074  MD                    7/1/2016
14        404081  MD                    7/1/2016
...          ...  ..                         ...
113225    508343  UC                   5/25/2022
113235    512956  UC                    5/9/2022
113241    497416  UC                   5/10/2022
113246    527351  UC                   5/10/2022
113248    516784  UC                    5/4/2022

[33573 rows x 3 columns]

In [6]:
dups_df.sort_values(by = "Child ID")

        Child ID POE Notification/ Referral Date
8326      360966  ET                   1/12/2017
6007      360966  ET                  11/10/2016
5441      361021  ET                  10/28/2016
6658      361021  ET                  11/29/2016
5189      361038  GN                  10/24/2016
...          ...  ..                         ...
111573    527636  ET                   5/27/2022
110585    527691  MD                   4/28/2022
112414    527691  MD                   5/20/2022
111752    527751  FT                   5/17/2022
109913    527751  FT                   4/28/2022

[33573 rows x 3 columns]

In [7]:
final = dups_df.groupby('Child ID', as_index=False).sum()  #this shows that 15267 Child ID's are duplicates
final

       Child ID   POE Notification/ Referral Date
0        360966  ETET         11/10/20161/12/2017
1        361021  ETET        10/28/201611/29/2016
2        361038  GNGN         8/26/201610/24/2016
3        361040  ETET         8/16/201610/28/2016
4        363098  SCSC          9/29/20161/31/2017
...         ...   ...                         ...
15262    527583  UCUC          4/27/20225/18/2022
15263    527603  ETET          4/27/20225/12/2022
15264    527636  ETET          4/28/20225/27/2022
15265    527691  MDMD          4/28/20225/20/2022
15266    527751  FTFT          4/28/20225/17/2022

[15267 rows x 3 columns]